<div class='header'>
<h1>Songs</h1>
</div>

<div class='grid'>
  <% @songs.each do |song| %>
    <div class='songs'>
      <%= image_tag('images.jpg') do %>
      <% end %>
      <p><%= song.title %></p>
      <p><%= song.length %> seconds</p>
      <p>Play Count <%= song.play_count %></p><br/>
    </div>
  <% end %>
</div>
