body {
  height: 100%;
  display: grid;
  grid-template-rows: 100px auto;
  background-color: #D0F2DF;
}

.header {
  font-family: papyrus;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto, 1fr);
  grid-gap: 20px;
}

img {
  height: 100px;
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

.songs {
  display: grid;
  place-items: center;
  text-align: center;
  border-radius: 20px;
  margin: 20px;
  background-color: #DCE7ED;
  font-family: futura;
}
